.metadata/

RemoteSystemsTempFiles/

Test_Core0/convert.h

Test_Core1/system.svc
Test_Core0/system.svc

Test_Core0/system/
Test_Core1/system/



Test_Core0/Debug
Test_Core1/Debug

*.html

Debug/
Release/
output/
build/

RemoteSystemsTempFiles/

.settings/
*.launch

Test_Core1/readme.html
Test_Core0/readme.html

Test_Core0/.settings
Test_Core1/.settings
git
git/
