.metadata/

Test_Core0/Debug
Test_Core1/Debug

*.html

Debug/
Release/
output/
build/

RemoteSystemsTempFiles/

.settings/
*.launch

Test_Core1/readme.html
Test_Core0/readme.html

Test_Core0/.settings
Test_Core1/.settings
git
git/